.App {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
}
.App > ul {
    margin-left: 100px;
}
